.parallax {
  height: 75vh;
  min-height: 30em;
  max-height: 50em;
}

.parallaxWrapper {
  width: 100%;
  height: 100%;
}

.parallaxImg {
  filter: blur(2px);
  opacity: 0.2;
  height: 200vh;
  width: 200vw;
  background-image: url('/img/header.jpg');
  background-size: cover;
}